@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
}

.bgc {
    background-color: #282828;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    position: absolute;
    box-sizing: border-box;
    padding: 10%;
    width: 70vw;
    height: 75vh;
    border: 3px solid #C4C4C4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper {
    width: 38vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
    margin-bottom: 13vh;
}

.header {
    position: relative;
    font-size: 2rem;
    line-height: 150%;
    width: 90%;
    align-self: center;
    box-sizing: border-box;
    background-color: #282828;
    text-align: center;
    color: #FFFFFF;
}

.line {
    border-bottom: 1px solid #FFFFFF;
    align-self: center;
    width: 10vw;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row input {
    width: 45%;
}

.text {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: #FFFFFF;
}

.left,
.right {
    position: absolute;
    top: 5%;
    width: 18vw;
}

.left {
    left: 10%;
}

.right {
    right: 10%;
}

input {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 0.5rem;
}

input::placeholder {
    color: #FFFFFF;
}

.but {
    text-transform: uppercase;
    background-color: transparent;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 1rem;
    line-height: 2.5rem;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
}

@media screen and (max-width: 576px) {

    img,
    .border {
        display: none;
    }
}